h2.title: a(href="#{baseUrl}/posts/#{slug}")= title

i.date= date

.post
  p Hello
p.author: a(href= "https://github.com/" + public.authors._data[author].github, target="_blank")= public.authors._data[author].display