a(href= homepage, target='_blank'): img(src='./images/code-park-textmark.png')
p is an effort to increase access to fun, engaging technology education that encourages members to build, create, and experiment.